<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Copyright © Mitsubishi Electric Europe B.V.-->
    <!-- Description This file is a definition of a model of RH-6FRH5520 robot.-->
    <!-- WARNING!!!! Do not use the driver with any other robot arm. -->
    <!-- Mitsubishi Electric assume any liability if the driver is used with a different robot-->

  <xacro:macro name="rh6frh" params="parent *origin">

    <!-- Robot Colour -->
    <material name="white">
        <color rgba="1 1 1 1.0"/>
    </material>

    <!-- PI Number -->   
    <xacro:property name="PI" value="3.14159"/>

    <!-- Max effort for joints -->
    <xacro:property name="effort" value="30.0"/>

    <!-- Max joint 1 velocity [deg/s] -->
    <xacro:property name="velocity_J1" value="400"/>

    <!-- Max joint 2 velocity [deg/s] -->
    <xacro:property name="velocity_J2" value="670"/>

    <!-- Max joint 3 velocity [mm/s] -->
    <xacro:property name="velocity_J3" value="2400"/>

    <!-- Max joint 4 velocity [deg/s] -->
    <xacro:property name="velocity_J4" value="2500"/>

    <!-- Box inertia macro -->
    <xacro:macro name='inertia_box' params='m x y z'>
        <inertial>
            <origin xyz="${x/2} ${y/2} ${z/2}" rpy="0.0 0.0 0.0"/>
            <mass value="${m}"/>
            <inertia ixx="${(1/12)*m*(y*y+z*z)}" ixy="0.0" ixz="0.0" iyy="${(1/12)*m*(x*x+z*z)}" iyz="0.0" izz="${(1/12)*m*(x*x+y*y)}"/>
        </inertial>
    </xacro:macro>

    <!-- Cylinder inertia macro -->
    <xacro:macro name='inertia_cylinder' params='m l r'>
        <inertial>
            <origin xyz="${l/2} 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="${m}"/>
            <inertia ixx="${(2/5)*m*r*r}" ixy="0.0" ixz="0.0" iyy="${(2/5)*m*r*r}" iyz="0.0" izz="${(2/5)*m*r*r}"/>
        </inertial>
    </xacro:macro>

    <!-- Joint transmission macro-->
    <xacro:macro name="transmission" params="number i">
        <transmission name="J${number}_transmission">
            <plugin>transmission_interface/SimpleTransmission</plugin>
            <actuator name="motor_${number}" role="actuator_1"/>
            <joint name="joint_${number}" role="joint_1"/>
                <mechanical_reduction>${i}</mechanical_reduction>
        </transmission>
    </xacro:macro>

    <!-- Robot model -->

    <!-- First link -->
    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="${PI/2} 0.0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J1SCARA.stl" scale="1 1 1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="${PI/2} 0.0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J1SCARA.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <xacro:inertia_box m="15" x="53.36" y="44.40" z="88.13"></xacro:inertia_box>
    </link>

    <!-- Virtual fixed joint -->
    <joint name="virtual_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <!-- Second link -->
    <link name="J2">
        <visual>
            <origin xyz="0.0 0.0 -342" rpy="${PI/2} 0.0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J2SCARA.stl" scale="1 1 1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 -342" rpy="${PI/2} 0.0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J2SCARA.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <xacro:inertia_box m="6" x="116.96" y="19.00" z="35.56"/>
    </link>

    <!-- First joint -->
    <joint name="joint_1" type="revolute">
        <origin xyz="0.0 0.0 342" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="J2"/>
        <axis xyz="0.0 0.0 1"/>
        <limit lower="-${0.6139*PI}" upper="${0.944444*PI}" effort="${effort}" velocity="${velocity_J1}"/>
    </joint>

    <!-- Third link -->
    <link name="J3">
        <visual>
            <origin xyz="0 324 -410" rpy="${PI/2} 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J3SCARA.stl" scale="1 1 1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 324 -410" rpy="${PI/2} 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J3SCARA.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <xacro:inertia_box m="10" x="97.00" y="34.00" z="97.00"/>
    </link>

    <!-- Second joint-->
    <joint name="joint_2" type="revolute">
        <origin xyz="0.0 -324 68" rpy="0.0 0.0 0.0"/>
        <parent link="J2"/>
        <child link="J3"/>
        <axis xyz="0.0 0.0 1"/>
        <limit lower="-${0.8*PI}" upper="${0.8*PI}" effort="${effort}" velocity="${velocity_J2}"/>
    </joint>

    <!-- Fourth Link -->
    <link name="J4">
        <visual>
            <origin xyz="0.0 550 -732" rpy="${PI/2} 0.0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J4SCARA.stl" scale="1 1 1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 550 -732" rpy="${PI/2} 0.0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J4SCARA.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <xacro:inertia_cylinder m="5" l="106.17" r="3.175"/>
    </link>

    <!-- Third joint -->
    <joint name="joint_3" type="prismatic">
        <origin xyz="0.0 -230 0" rpy="0.0 0.0 0.0"/>
        <parent link="J3"/>
        <child link="J4"/>
        <axis xyz="0.0 0.0 1"/>

        <limit lower="134" upper="332" effort="${effort}" velocity="${velocity_J3}"/>
    </joint>

    <!-- Rotation of fourth link that mimics the linear movement of the previous link-->
    <link name="J4_rotate">
        <visual>
            <origin xyz="0.0 550 -332" rpy="${PI/2} 0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J4SCARA.stl" scale="1 1 1"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.0 550 -332" rpy="${PI/2} 0 0.0"/>
            <geometry>
                <mesh filename="package://robot_description/meshes/J4SCARA.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <xacro:inertia_cylinder m="5" l="106.17" r="3.175"/>
    </link>

    <!-- Fourth joint-->
    <joint name="joint_4" type="revolute">
        <origin xyz="0.0 0 -400" rpy="0.0 0.0 0.0"/>
        <parent link="J4"/>
        <child link="J4_rotate"/>
        <axis xyz="0.0 0.0 1"/>
        <limit lower="-${PI*2}" upper="${PI*2}" effort="${effort}" velocity="${velocity_J4}"/>   
    </joint>

    <!-- TCP point fixed at the end of the fourth link-->
    <link name="tool0">
        <inertial>
            <mass value="0.01"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
          </inertial>
      </link>

    <!-- TCP fixation-->
    <joint name="joint_4-tool0" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="J4_rotate"/>
        <child link="tool0"/>
    </joint>
    
    <!-- Joint transmissions-->
    <xacro:transmission number="1" i="80.0"/>
    <xacro:transmission number="2" i="80.0"/>
    <xacro:transmission number="3" i="14.4"/>
    <xacro:transmission number="4" i="14.4"/>

  </xacro:macro>
</robot>