<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="RH6">
    <!-- Copyright © Mitsubishi Electric Europe B.V.-->
    <!-- DESCRIPTION This file is a definition of a ros2_control for RH-6FRH5520 robot.-->
    <!-- WARNING!!!! Do not use the driver with any other robot arm. -->
    <!-- Mitsubishi Electric assume any liability if the driver is used with a different robot-->
    <xacro:macro name="rh6frh_r2c_hardware" params="is_sim robot_ip robot_port">
    
        <xacro:property name="PI" value="3.14159"/>

        <ros2_control name="RobotSystem" type="system">
            
            <!-- Choose between the simulation or real robot-->
            <xacro:if value="$(arg is_sim)">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            </xacro:if>
            <xacro:unless value="$(arg is_sim)">
                <hardware>
                    <plugin>rh6frh_hardware/Rh6frhHardwareInterface</plugin>
                    <param name="robot_ip">${robot_ip}</param>
                    <param name="robot_port">${robot_port}</param>
                </hardware>
            </xacro:unless>
            
            <!-- Position control of each joint definition-->
            <joint name="joint_1">
                <command_interface name="position">
                    <param name="min">-${0.6139*PI}</param>
                    <param name="max">${0.944444*PI}</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_2">
                <command_interface name="position">
                    <param name="min">-${0.8*PI}</param>
                    <param name="max">${0.8*PI}</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_3">
                <command_interface name="position">
                    <param name="min">134</param>
                    <param name="max">332</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>

            <joint name="joint_4">
                <command_interface name="position">
                    <param name="min">-${PI*2}</param>
                    <param name="max">${PI*2}</param>
                </command_interface>
                <state_interface name="position"/>
        </joint>
    </ros2_control>
</xacro:macro>
</robot>